@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.ibb.co/Ns8F4J7/city-landscape.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .text-container {
  }
  
  #txt {
    text-shadow: 0 2px 2px white;
    color: red;
    font-size: xx-large;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  #timer {
    text-shadow: 0 2px 2px white;
    color: #ea00d9;
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .game-board {
    display: inline-block;; 
    background-color: black;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
    overflow: auto;
    position: relative;
    z-index: 1;
    resize: both;
    overflow: auto;
    min-width: 500px;
    min-height: 500px;
    resize: none;
  }
  
  #board {
    display: inline-grid;
  }
  
  .game-board table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }
 
  .game-board td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid #129415;
    box-shadow: 0 2px 4px white !important;
    opacity: 0;
    transition: all ease-in-out .3s;
    cursor: pointer;
  }

  td {
    box-shadow: 0 2px 4px white !important;
  }

  .game-board td span {
    font-size: 24px;
  }

  .revealed {
    font-size: 24px !important;
    opacity: 1 !important;
  }

  td img {
    width: 35px;
    height: 35px;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
  
  .btn {
    margin-top: 10px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #ea00d9;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 300;
  }
  
  .btn:hover {
    background-color: #0abdc6;
  }

  #start-message {
    color: white;

  }

  h1 {
    color: #c4544d;
    white-space: pre-line;
    font-weight: 500;
  }

  h2 {
    color: #1ad0e6;
    font-weight: 400;
  }
  h3 {
    white-space: pre-line;
    font-weight: 400;
    color: #fad44f;
  }

  h4 {
    white-space: pre-line;
    font-weight: 300;
    color: #1ad0e6;
    position: absolute;
    bottom: 0;
  }

  .disable-click {
    pointer-events: none;
  }

  #winScreen , #lossScreen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #lossScreen h5 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .image-container img {
    max-width: 50%;
    max-height: 50%;
  }